/.vscode
/a.exe
/abstract.c++
/abstract.exe
/ambigous.c++
/ambigous.exe
/coninheritance.c++
/coninheritance.exe
/copyConst.cpp
/copyConst.exe
/deepandshallowcopycon.c++
/deepandshallowcopycon.exe
/exeinheritance.c++
/exeinheritance.exe
/inheritance1.c++
/inheritance1.exe
/multilevel.c++
/multilevel.exe
/oparatoroverloading.c++
/overriding.c++
/overriding.exe
/pointers.cpp
/pointersTOdrive.c++
/pointersTOdrive.exe
/pointersToobj.c++
/pointersToobj.exe
/pract.c++
/pract.exe
/project.exe
/tempCodeRunnerFile.c++
/template.c++
/template.exe
/virtualbaseclass.c++
/virtualbaseclass.exe
/virtualDistructure.c++
/virtualDistructure.exe